@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* scroll bar styling */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #c6c4c4;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(8, 8, 8);
  height: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #727273;
}

.scale:hover {
  transform: s(10deg);
  transition: ease-in-out 500ms;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.scrolled {
  position: absolute;
  background-color: black;
  color: white;
  justify-content: center;
  align-items: center;
  top: 80%;
  right: 5%;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  transition: ease-in-out 4s;
}
.popup{
  height:250px;
  width: 100%;

}
.popup1 {
  height: 250px;
  opacity: 0;
  transform: translateX(-100%); 
  animation: slideInLeft 1s forwards;
}
.popup2 {
  height: 250px;
  opacity: 0;
  /* transform: translateY(100%);  */
  animation: slideDown 1s forwards;
}
.popup3 {
  height: 250px;
  opacity: 0;
  transform: translateX(-100%); 
  animation: slideUp 1s forwards;
}
.popIn {
  opacity: 0;
  color: black;
  animation: popIn 4s forwards;
  transition: all;
}
.slideInRight{
  opacity: 0;
  transform: translateX(-200%); 
  animation: slideInLeft 1s forwards;
}
.slideUp{
  animation: slideUp 1s forwards;
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    filter: contrast(3);
    transform: translateX(-90%); 
  }
  to {
    opacity: 1;
    transform: translateX(0); 
  }
}
@keyframes slideDown {
  from {
    opacity: 0;
    filter: contrast(3);
    transform: translateY(-150%);
    z-index: 9999999; 
  }
  to {
    opacity: 1;
    z-index: 444444;
    transform: translateY(0); 
  }
}
@keyframes slideUp {
  from {
    opacity: 0;
    filter: contrast(3);
    transform: translateY(150%);
    z-index: 9999999; 
  }
  to {
    opacity: 1;
    z-index: 444444;
    transform: translateY(0); 
  }
}
@keyframes slideInRight {
  from {
    opacity: 0;
    filter: contrast(3);
    transform: translateX(-100%);
    z-index: 9999999; 
  }
  to {
    opacity: 1;
    z-index: 444444;
    transform: translateX(0); 
  }
}
@keyframes popIn {
  from {
    opacity: 0;
    filter: contrast(3);
     
  }
  to {
    opacity: 1;
    z-index: 444444;
   
  }
}

